<%
    var items = [];
    var title = '';
    var isTagIndex = page.type === 'tags' || page.type === 'tag';
    var isCategoryIndex = page.type === 'categories' || page.type === 'category';
    if (isTagIndex) {
        items = site.tags;
        title = __('tags');
    } else if (isCategoryIndex) {
        items = site.categories;
        title = __('categories');
    }
%>

<% if (isTagIndex || isCategoryIndex) { %>
<div class="archive-header">
    <h1><%- page.title %></h1>
</div>
<div class="tag-index">
    <% items.forEach(function(item){ %>
    <%- partial('_partial/tag-category-index', {item: item}) %>
    <% }); %>
</div>
<% } else { %>
<div class="page-content post-body">
    <h1><%- page.title %></h1>
    <%- page.content %>
</div>
<% } %>
